In [47]:
import pandas as pd
from modData import mod_data, min_max_normalize

train = pd.read_csv("./bike-sharing-demand/train.csv")
test = pd.read_csv("./bike-sharing-demand/test.csv")


train = mod_data(train)
test = mod_data(test)

std_cols = ['temp', 'atemp', 'humidity', 'windspeed']
pred_cols = ['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp', 'humidity',
             'windspeed', 'year', 'month', 'day', 'hour']
target = ['count']

In [51]:
import matplotlib.pyplot as plt

In [48]:
X = train[pred_cols]

In [50]:
X.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,day,hour
0,1,0,0,1,9.84,14.395,81,0.0,2011,1,1,0
1,1,0,0,1,9.02,13.635,80,0.0,2011,1,1,1
2,1,0,0,1,9.02,13.635,80,0.0,2011,1,1,2
3,1,0,0,1,9.84,14.395,75,0.0,2011,1,1,3
4,1,0,0,1,9.84,14.395,75,0.0,2011,1,1,4

In [56]:
for i in pred_cols:
    print(train[i].isnull().values.any())

False
False
False
False
False
False
False
False
False
False
False
False